<div class="w-full h-full absolute inset-0"
     data-controller="map"
     data-map-api-key-value="<%= Rails.application.credentials.dig(:mapbox, :public_key) %>"
     data-map-properties-value='<%= {
       type: "FeatureCollection",
       features: @properties.map { |p| 
         {
           type: "Feature",
           properties: {
             id: p.id,
             address: p.address,
             usage_type: p.usage_type
           },
           geometry: RGeo::GeoJSON.encode(p.boundary)
         }
       }
     }.to_json %>'>
</div>

<turbo-frame id="property_editor" class="fixed bottom-0 left-0 right-0 z-[100] p-4 bg-transparent pointer-events-none"></turbo-frame>