<div style="width: 100vw; height: 100vh;"
     data-controller="map"
     data-map-api-key-value="<%= Rails.application.credentials.dig(:mapbox, :public_key) %>"
     data-properties="<%= @properties.map { |p| { 
       lat: p.lonlat.latitude, 
       lon: p.lonlat.longitude, 
       address: p.address, 
       usage: p.usage 
     } }.to_json %>">
</div>